html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
body{
  background-image: linear-gradient(black,blue);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
main > div{
  width:426px;
  text-align: center;
}
.display{
  background-color:#fff;
  padding:10px;
  color:black;
}
.numbers, .operations{
  display:flex;
  gap:2px;
  margin-top:5px;
}
.numbers > div{
  padding: 10px 15px;
  font-size: 18px;
  background-color:#f1f5f6;
  cursor:pointer;
  color:#202b38;
}
.operations > div{
  padding: 10px 15px;
  font-size: 18px;
  background-color:#f1f5f6;
  cursor:pointer;
  color:#202b38;
}
